include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        header.header
          .container
            .logo
              a.logo__link(href="#") AN
            .menu
              ul.menu__list
                li.menu__item
                  a.menu__link(href="#") Главная
                li.menu__item
                  a.menu__link(href="#") Обо мне